body {margin:0; padding:0; font-family: 'Roboto', sans-serif; background: #000;}
a:hover, a:focus {text-decoration:none; outline:0 none;}
h1,h2,h3,h4,h5,h6 {margin:0; padding:0;}
ul {list-style:none; margin:0; padding:0;}

.vetical_middle {float: left; width: 100%; position: absolute; left: 0; right: 0; top: 0; height: 100%; }
.logo {position: absolute; top: 50%; transform: translateY(-50%); left: 0; right: 0; text-align: center;}
.input_main {width: 100%; margin: 50px 0; float: left;}
.form-group:last-child {margin:0;}
.form-control {height: 45px; border-radius: 0; border: 0; background: #fff; font-size: 18px; font-weight: 700; color: #000; cursor: pointer;}

.next_btn {display: inline-block; background: #f78f20; color: #fff; text-transform: uppercase; padding: 12px 50px; font-weight: 700; letter-spacing: 0.5px; font-size: 18px; margin: 50px 0 0 0;}
.next_btn:hover {color:#fff;}
.answer_block {float: left; width: 100%; text-align: center;}
.answer_block ul {margin:50px 0 0 0; float: left; width: 100%;}
.answer_block li {display: inline-block; width: 32%; float: left; text-align: center; margin-right: 2%;}
.answer_block li:last-child {margin-right: 0;}
.answer_block li img {max-width: 50%; margin: 0 auto; display: inline-block;}
.msg {float: left; width: 100%; font-size: 18px; line-height: 26px; color: #fff;}
.msg.thank-you {font-size: 30px; padding: 20px 0; text-transform:capitalize;}

@media(max-width:767px) {
	.pos_relative {position: relative; top: auto; transform: initial; padding: 20px 0;}
	.input_main {margin: 30px 0;}
	.next_btn {margin:10px 0 0 0; padding: 8px 30px;}
	.answer_block ul {margin:15px 0 0 0;}
	.answer_block li img {max-width:100%;}
	.msg {font-size:16px;}
}